<h2>SignUp</h2>

<form method="POST" action="/signup">

  <h4>Username: <input type="text" name="user[username]" required></h4>

  <h4>Email: <input type="email" name="user[email]" required></h4>

  <h4>Password: <input type="password" name="user[password]" required></h4>

  <input type="submit" value="SignUp">
  
</form>