<h1>Tech-Lister</h1>
<h2>SignUp</h2>

<form method="POST" action="/signup">
<h4>Username: <input type="text" name="username"></h4>

<h4>Email: <input type="text" name="email"></h4>

<h4>Password: <input type="text" name="password"></h4>
<input type="submit" value="Sign Up">
  
</form>