<h2>LogIn</h2>

<form method="POST" action="/login">

  <h4>Username: <input type="text" name="username" required></h4>

  <h4>Password: <input type="password" name="password" required></h4>
  <input type="submit" value="Log In">
  
</form>