<!-- <h2>SignUp</h2>

<form method="POST" action="/signup">

  <h4>Username: <input type="text" name="user[username]" required></h4>

  <h4>Email: <input type="email" name="user[email]" required></h4>

  <h4>Password: <input type="password" name="user[password]" required></h4>

  <input type="submit" value="SignUp">
  
</form> -->

<form class="form-horizontal">
  <fieldset>
    <legend>SignUp</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="Username" name="user[username]" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="Email" name="user[email]" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" placeholder="Password"name="user[password]" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>

